*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor, #fff);
  color: var(--foregroundColor, #000);
  font-family: Helvetica, Arial, sans-serif;
  margin: 1rem;
}

h1 {
  margin: 0;
}

.route {
  display: inline-block;
  background-color: var(--foregroundColor, #000);
  color: var(--backgroundColor, #fff);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
}

.btn {
  font: inherit;
  background: var(--foregroundColor, #fff);
  color: var(--backgroundColor, #000);
  border: 0;
  margin: 0;
  padding: .25em .5em;
  border-radius: 2rem;
  cursor: pointer;
}

.destinations {
  display: block;
  width: 100%;
  font: inherit;
  margin-bottom: 2rem;
  padding: .5rem;
}

.btn:focus,
.destinations:focus {
  outline: 0;
}

.time-delta {
  border-bottom: 1px solid;
}