<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ routeId }}.willarrive.in</title>
    <meta name="description" content="willarrive.in">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style type="text/css">
      :root {
        --backgroundColor: {{ backgroundColor }};
        --foregroundColor: {{ foregroundColor }};
      }
    </style>
  </head>
  <body>
    
  </body>
</html>